html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
address,
img,
ul,
li,
form,
label,
article,
embed,
figure,
figcaption,
footer,
header,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}

button,
a {
    outline: none;
    cursor: pointer;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeue.ttf') format('ttf');
}

*,
html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    line-height: 1.9rem;
    color: #ffffff;
    background-color: rgb(27, 27, 27);
}

.main-container {
    width: 69.375rem;
    max-width: 90%;
    margin: 0 auto;
}

section {
    margin-bottom: 7.5rem;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: max(18.25rem, 12.56rem);
}

.nav-list__item a {
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 5.6rem;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: color .3s linear;
}

.nav-list__item a:hover,
.nav-list__item a:focus {
    color: rgba(52, 199, 89, 1);
}

.nav-list__item a:active {
    color: rgba(52, 199, 89, 1);
    transform: rotate(36deg);
}

/* hero */

.hero_bg {
    width: 100%;
    height: auto;
    background: url(../images/hero.svg),
        linear-gradient(180deg, rgba(26, 26, 26, 0.0001) 0%, #1a1a1a 100%),
        linear-gradient(0deg, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5));
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.hero {
    padding: 5rem 0rem 10.25rem;
    text-align: center;
    margin-bottom: 0;
}

.hero-title {
    text-transform: capitalize;
    font-size: 4.5rem;
    line-height: 5.25rem;
    letter-spacing: 0.1em;
}

.hero-title span {
    font-weight: 800;
}

.hero-title~p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: -0.2px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 2.5rem;
}

.hero button {
    width: 13.75rem;
    height: 4.5rem;
    background-color: #34c759;
    border: none;
    border-radius: 43px;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.375rem;
    letter-spacing: 0.2em;
    color: #1a1a1a;
    margin-bottom: 4.375rem;
}

.contacts ul {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.icon {
    margin-bottom: 12px;
}

.contacts p:first-of-type {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.875rem;
}

.contacts p:last-of-type {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 3.8rem;
    color: #999999;
}

/* about */

section.about {
    background-color: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 3.75rem 11.75rem 5.625rem 11.75rem;
    margin-bottom: 5.625rem;
}

.title-container {
    position: relative;
    text-align: center;
    margin-bottom: 3.75rem;
}

.about>.title-container {
    margin-bottom: 1rem;
}

.title-container h1 {
    display: inline-block;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 150px;
    /* letter-spacing: 0.2em; */
    color: #303030;
    position: relative;
}

.title-container h2 {
    display: inline-block;
    position: absolute;
    top: 33.3%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.875rem;
    line-height: 3.75rem;
    letter-spacing: 0.2em;
    color: #d9d9d9;
}

.about p {
    font-size: 1rem;
    line-height: 1.875rem;
    color: #a6a6a6;
    text-align: center;
    margin-bottom: 5.625rem;
}

.slider {
    position: relative;
    text-align: center;
}

.slider-item__container {
    width: 21.875rem;
    height: 16.875rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-item__container_1 {
    background-image: url(../images/about_1.png);
}

.slider-item__container_2 {
    background-image: url(../images/about_2.png);
}

.slider-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.slider button {
    fill: #4D4D4D;
    width: 3.75rem;
    height: 3.75rem;
    background: #262626;
    border: 2px solid #303030;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6.6rem;
    transition: border-color .3s linear;
}

.slider-btn__left {
    left: -106px;
}

.slider-btn__right {
    right: -106px;
}

.slider button:hover,
.slider button:focus{
    
    border-color: #34c759;
}
.slider button svg rect{
    transition: fill .3s linear;
}
.slider button:hover svg rect,
.slider button:focus svg rect{    
    fill: #34c759;
}

/* work */

.title-container::after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: #34c759;
    margin-left: auto;
    margin-right: auto;
}

.about>.title-container::after {
    display: inline;
}

.work {
    margin-bottom: 7.5rem;
}

.work-list {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
}

.work-list li {
    width: 15.9375rem;
    height: 12.875rem;
    padding: 1.5rem;
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transition: background-color .8s linear, color .3s linear;
}



.work-list h4 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.625rem;
    letter-spacing: -0.275px;
    margin-bottom: 1.5rem;
}

.work-list p {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 138%;
    letter-spacing: -0.1625px;
    color: rgba(255, 255, 255, 0.5);
    transition: color .3s linear;
}

.work-list h4::after {
    content: '';
    display: block;
    width: 56px;
    height: 2px;
    background-color: #34c759;
    margin-top: 0.625rem;
    transition: transform .8s linear;
}

.work-list li:hover h4::after{
    background-color: #191919;
    transform:  translateX(147px);
}

.work-list li:hover{
    color: #191919;
    background-color: #34c759;
}

.work-list li:hover p{
    color:#191919;
}

/* dishes */
.dishes {
    margin-bottom: 120px;
}

.dishes-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 30px;
}

.dishes-list li {
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.item-content__container {
    padding: 29px 30px 24px 30px;
}

.item-content__container img {
    height: max-content;
}

.item-content__container h3 {
    font-size: 2rem;
    line-height: 94%;
    color: #d9d9d9;
}

.item-content__container span {
    font-size: 0.75rem;
    line-height: 133%;
    letter-spacing: -0.15px;
    color: #a4a8b2;
    margin-bottom: 1.25rem;
}

.item-content__container p {
    font-size: 0.8rem;
    line-height: 138%;
    letter-spacing: -0.1625px;
    color: #85878c;
    margin-bottom: 20px;
}

.item-content__container button {
    display: flex;
    font-weight: 900;
    font-size: 0.625rem;
    line-height: 400%;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    width: 100px;
    height: 40px;
    background: #262626;
    border: 2px solid #303030;
    border-radius: 30px;
}

.item-content__container button:hover,
.item-content__container button:focus {
    border: none;
    background-color: #34c759;
    color: #252525;
}

.item-content__container button:active {
    border: 2px solid #34c759;
    color: #34c759;
    font-size: 0.8rem;
    background-color: #262626;
}

/* chefs */

.chefs-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chef-list__item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 21.875rem;
    margin-bottom: 24px;
}

.cold-chef__avtar,
.hot-chef__avtar,
.macro-chef__avtar {
    width: 4.07rem;
    height: 4.07rem;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1.5rem;
}

.cold-chef__avtar {
    background-image: url(../images/cold_chef.svg);
}

.hot-chef__avtar {
    background-image: url(../images/hot_chef.svg);
}

.macro-chef__avtar {
    background-image: url(../images/mcro-kitchen_chef.svg);
}

.chef-name {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    letter-spacing: -0.225px;
    color: #ffffff;
}

.chef-position {
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 133%;
    letter-spacing: -0.15px;
    color: rgba(255, 255, 255, 0.5);
}

.dish-img__list {
    display: flex;
    justify-content: space-between;
}

/* RECIPES */

/* social */

.social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.social-list__item {
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 21.875rem;
    height: 20.625rem;
}

.social-list__item-heder {
    padding: 25px 25px 23px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-list__item-heder span {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #bfbfbf;
}

.social-list a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #262626;
    border: 2px solid #303030;
    margin-right: 20px;
}

.social-list button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 10px;
    line-height: 40px;
    text-transform: uppercase;
    color: #737373;
    margin-left: auto;
    width: 100px;
    height: 40px;
    background: #262626;
    border: 2px solid #303030;
    border-radius: 30px;
}

.social-list article {
    font-size: 14px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
    
  
}

.article-container {
    height: 15rem;
    padding: 20px 15px 20px 35px;
}

.article-container__scroll{
    height: 13rem;
overflow-y: scroll;
}



 .article-container__scroll::-webkit-scrollbar {
    width: 5px;
}

.article-container__scroll::-webkit-scrollbar-thumb {
    background: #34c759;
    border-radius: 2px;
} 

.social-list__insta {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.social-list__insta li {
    min-width: 6.875rem;
    max-width: 7.5rem;
}
article span {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 3.75rem;
    color: #737373;
}

/* footer */

footer {
    text-align: center;
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1.875rem 0;
}

footer .contacts {
    padding: 0 0 2rem 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1.875rem;
}

footer .logo {
    margin-left: auto;
    margin-right: auto;
    width: 13rem;
    margin-bottom: 0.625rem;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 16px;
    }

    .social-list {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .social-list__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .slider-list {
        justify-content: center;
    }

    .slider-list li:last-child {
        display: none;
    }

    .slider-btn__left {
        left: 0;
    }

    .slider-btn__right {
        right: 0;
    }
}

@media only screen and (max-width: 1190px) {
    .work-list {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        gap: 30px 30px;
    }

    .work-list__continer {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .chefs-list__container {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .chef-list__item-content {
        justify-content: center;
    }

    .chefs-list {
        flex-direction: column;
        justify-content: space-around;
    }

    .chefs-list__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    .title-container h2 {
        visibility: hidden;
    }

    section.about {
        padding: 3.75rem 8rem 5.625rem 8rem;
    }

    .dishes-list {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }
}

@media only screen and (max-width: 870px) {
    
    section.about {
        padding-bottom: 6.25rem;
    }

    button.slider-btn__left,
    button.slider-btn__right {
        position: relative;
        top: 20px;
    }

    button.slider-btn__left {
        left: -15px;
    }

    button.slider-btn__right {
        right: -15px;
    }

    .slider-item__container {
        width: 30rem;
        height: 25rem;
    }
}

@media only screen and (max-width: 746px) {
    
        .work-list {
        grid-template: repeat(4, 1fr) / repeat(1, 1fr);
    }

    .dishes-list {
        grid-template: repeat(6, 1fr) / repeat(1, 1fr);
    }
    .hero .contacts{
        display: none;
    }
    .hero button{
        margin-bottom: 0;
    }
}