@import url('../css/variables.css');

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
address,
img,
ul,
li,
form,
label,
article,
embed,
figure,
figcaption,
footer,
header,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}

button,
a {
    outline: none;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeue.ttf') format('ttf');
}

*,
html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    line-height: 1.9rem;
    color: var(--white-text-color);
    background: var(--body-bg);
}

.main-container {
    width: 69.375rem;
    max-width: 90%;
    margin: 0 auto;
}

section {
    margin-bottom: 7.5rem;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    border-bottom: var(--bottom-border);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: max(18.25rem, 12.56rem);
}

.nav-list__item a {
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 5.6rem;
    color: inherit;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: color var(--transition);
}

.nav-list__item a:hover,
.nav-list__item a:focus {
    color: var(--accent-color);
}

.nav-list__item a:active {
    color: var(--accent-color);
    transform: rotate(36deg);
}

/* hero */

.hero_bg {
    width: 100%;
    height: auto;
    background: url(../images/svg/hero.svg),
        linear-gradient(180deg, rgba(26, 26, 26, 0.0001) 0%, #1a1a1a 100%),
        linear-gradient(0deg, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5));
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.hero {
    padding: 5rem 0rem 10.25rem;
    text-align: center;
    margin-bottom: 0;
}

.hero-title {
    text-transform: capitalize;
    font-size: 4.5rem;
    line-height: 5.25rem;
    letter-spacing: 0.1em;
}

.hero-title span {
    font-weight: 800;
}

.hero-title~p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: -0.2px;
    color: var(--text-color);
    margin-bottom: 2.5rem;
}

.hero button {
    width: 13.75rem;
    height: 4.5rem;
    background-color: var(--accent-color);    
    border: none;
    border-radius: 43px;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.375rem;
    letter-spacing: 0.2em;
    color: var(--contarst-text-color);
    margin-bottom: 4.375rem;
    transition: background-color var(--transition), border var(--transition), color var(--transition);
}

.hero button:hover,
.hero button:focus{
background-color: inherit;
border: 2px solid var(--accent-color);
color:var(--accent-color);
}

.hero button:active{
    transform: var(--button-active-transform);
}

.contacts ul {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contacts-icon {
    width: 21px;
    height: 20px;
}

.icon {
    transition: fill var(--transition);
    fill: var(--main-text-color);
}

.contacts-list__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contacts-list__item p:first-of-type {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.875rem;
}

.contacts-list__item p:last-of-type {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 3.8rem;
    color: #999999;
    margin-left: auto;
    margin-right: auto;
}
.contacts-item__link p{
    text-align: center;
    width: fit-content;
}
/* about */

section.about {
    background-color: var(--addition-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    padding: 3.75rem 11.75rem 5.625rem 11.75rem;
    margin-bottom: 5.625rem;
}

.title-container {
    position: relative;
    text-align: center;
    margin-bottom: 3.75rem;
}

.about>.title-container {
    margin-bottom: 1rem;
}

.title-container h1 {
    display: inline-block;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 150px;
    color: var(--section-title-color);
    position: relative;
}

.title-container h2 {
    display: inline-block;
    position: absolute;
    top: 33.3%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.875rem;
    line-height: 3.75rem;
    letter-spacing: 0.2em;
    color: var(--section-title-addition-color);
}

.about p {
    font-size: 1rem;
    line-height: 1.875rem;
    color: #a6a6a6;
    text-align: center;
    margin-bottom: 5.625rem;
}

.slider {
    position: relative;
    text-align: center;
}

.slider-item__container {
    width: 21.875rem;
    height: 16.875rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-item__container_1 {
    background-image: url(../images/about_1.png);
}

.slider-item__container_2 {
    background-image: url(../images/about_2.png);
}

.slider-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.slider button {
    fill: #4D4D4D;
    width: 3.75rem;
    height: 3.75rem;
    background: var(--button-bg-color);
    border: var(--button-border);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6.6rem;
    transition: border-color var(--transition);
}

.arrow-icon {
    transition: fill var(--transition);
    width: 26px;
    height: 26px;
}

.slider-btn__left {
    left: -106px;
}

.slider-btn__right {
    right: -106px;
}

.slider button:hover,
.slider button:focus {

    border-color: var(--accent-color);
}

.slider button:hover .arrow-icon,
.slider button:focus .arrow-icon {
    fill: var(--accent-color);
}

.slider button:active {
    transform: var(--button-active-transform);
}

/* work */

.title-container::after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: var(--accent-color);
    margin-left: auto;
    margin-right: auto;
    transition: width 1s linear, transform 1s ease-in;
}

.about>.title-container::after {
    display: inline;
}

.work {
    margin-bottom: 7.5rem;
}

.work-list {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
}

.work-list li {
    width: 15.9375rem;
    height: 12.875rem;
    padding: 1.5rem;
    background: var(--addition-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    transition: background-color .8s linear, color .3s linear;
}

.work-list h4 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.625rem;
    letter-spacing: -0.275px;
    margin-bottom: 1.5rem;
}

.work-list p {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 138%;
    letter-spacing: -0.1625px;
    color: var(--main-text-color);
    transition: color .3s linear;
}

.work-list h4::after {
    content: '';
    display: block;
    width: 56px;
    height: 2px;
    background-color: var(--accent-color);
    margin-top: 0.625rem;
    transition: transform .8s linear;
}

.work-list li:hover h4::after {
    background-color: #191919;
    transform: translateX(147px);
}

.work-list li:hover {
    color: #191919;
    background-color: var(--accent-color);
}

.work-list li:hover p {
    color: #191919;
}

/* dishes */

.dishes {
    margin-bottom: 120px;
}

.dishes-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 30px;
}

.dishes-list li {
    background: var(--addition-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 6px;
}

.item-content__container {
    padding: 29px 30px 24px 30px;
}

.item-content__container img {
    height: max-content;
}

.item-content__container h3 {
    font-size: 2rem;
    line-height: 94%;
    color: var(--section-title-addition-color);
}

.item-content__container span {
    font-size: 0.75rem;
    line-height: 133%;
    letter-spacing: -0.15px;
    color: #a4a8b2;
    margin-bottom: 1.25rem;
}

.item-content__container p {
    font-size: 0.8rem;
    line-height: 138%;
    letter-spacing: -0.1625px;
    color: #85878c;
    margin-bottom: 20px;
}

.item-content__container button {
    display: flex;
    font-weight: 900;
    font-size: 0.625rem;
    line-height: 400%;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--main-text-color);
    width: 100px;
    height: 40px;
    background: var(--button-bg-color);
    border: var(--button-border);
    border-radius: 30px;
    transition: color var(--transition), border var(--transition);
}

.item-content__container button:hover,
.item-content__container button:focus {
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
}

.item-content__container button:active {
    transform: var(--button-active-transform);
}

.item-content__container button:active {
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    font-size: 0.8rem;
    background-color: var(--button-bg-color);
}

/* chefs */

.chefs-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chef-list__item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 21.875rem;
    margin-bottom: 24px;
}

.cold-chef__avtar,
.hot-chef__avtar,
.macro-chef__avtar {
    width: 4.07rem;
    height: 4.07rem;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1.5rem;
}

.cold-chef__avtar {
    background-image: url(../images/svg/cold_chef.svg);
}

.hot-chef__avtar {
    background-image: url(../images/svg/hot_chef.svg);
}

.macro-chef__avtar {
    background-image: url(../images/svg/mcro-kitchen_chef.svg);
}

.chef-name {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    letter-spacing: -0.225px;
}

.chef-position {
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 133%;
    letter-spacing: -0.15px;
    color: var(--main-text-color);
}

.dish-img__list {
    display: flex;
    justify-content: space-between;
}

/* RECIPES */

/* social */

.social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.social-list__item {
    background: var(--addition-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    width: 21.875rem;
    height: 20.625rem;
}

.social-list__item-heder {
    padding: 25px 25px 23px;
    border-bottom: var(--bottom-border);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-list__item-heder span {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #bfbfbf;
}

.social-list a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--button-bg-color);
    border: var(--button-border);
    margin-right: 20px;
    transition: border var(--transition);
}



.social-icon__insta,
.social-icon {    
    fill: var(--social-icon-color);
    width: 24.27px;
    height: 24.27px;
}

.social-icon__insta {
    transition: stroke var(--transition);
    fill: none;
    stroke: var(--social-icon-color);
}

.social-list a:hover,
.social-list a:focus {
    border: 2px solid var(--accent-color);
}

.social-list a:hover .icon {
    fill: var(--accent-color);

}

.social-list a:hover .social-icon__insta {
    fill: none;
    stroke: var(--accent-color);
}


.social-list button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 10px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--social-icon-color);
    margin-left: auto;
    width: 100px;
    height: 40px;
    background: var(--button-bg-color);
    border: var(--button-border);
    border-radius: 30px;
    transition: color var(--transition), border var(--transition);
}

.social-list button:hover,
.social-list button:focus {
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.social-list button:active {
    transform: var(--button-active-transform);
}

.social-list article {
    font-size: 14px;
    line-height: 30px;
    color: var(--text-color);
}

.article-container {
    height: 15rem;
    padding: 20px 15px 20px 35px;
}

.article-container__scroll {
    height: 13rem;
    overflow-y: scroll;
}

.article-container__scroll::-webkit-scrollbar {
    width: 5px;
}

.article-container__scroll::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 2px;
}

article span {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 3.75rem;
    color: var(--social-icon-color);
}

.social-list__insta {
    height: 239px;
    display: flex;
    flex-wrap: wrap;
}

.img-container {
    width: calc(100% / 3);
    height: calc(100% / 2);
    background-size: cover;
    background-position: center;
}

.social-list__insta-img_1 {
    background-image: url(../images/svg/insta_img_1.svg);
}

.social-list__insta-img_2 {
    background-image: url(../images/svg/insta_img_2.svg);
}

.social-list__insta-img_3 {
    background-image: url(../images/svg/insta_img_3.svg);
}

.social-list__insta-img_4 {
    background-image: url(../images/svg/insta_img_4.svg);
    border-radius: 0 0 0 4px;
}

.social-list__insta-img_5 {
    background-image: url(../images/svg/insta_img_5.svg);
}

.social-list__insta-img_6 {
    background-image: url(../images/svg/insta_img_6.svg);
    border-radius: 0 0 4px 0;
}

/* footer */

footer {
    text-align: center;
    background: var(--addition-bg-color);
    box-shadow: var(--box-shadow);
    padding: 1.875rem 0;
}

.footer-contacts ul {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    padding: 0 0 2rem 0;
    border-bottom: var(--bottom-border);
    margin-bottom: 1.875rem;
}

footer .logo {
    margin-left: auto;
    margin-right: auto;
    width: 13rem;
    margin-bottom: 0.625rem;
}

section:hover .title-container::after {
    width: 50%;
    filter: drop-shadow(0 -2mm 3mm var(--accent-color));

}


/* @media */

@media only screen and (max-width: 1200px) {
    .social-list {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .social-list__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .slider-list {
        justify-content: center;
    }

    .slider-list li:last-child {
        display: none;
    }

    .slider-btn__left {
        left: 0;
    }

    .slider-btn__right {
        right: 0;
    }
}

@media only screen and (max-width: 1190px) {
    .work-list {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        gap: 30px 30px;
    }

    .work-list__continer {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .chefs-list__container {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .chef-list__item-content {
        justify-content: center;
    }

    .chefs-list {
        flex-direction: column;
        justify-content: space-around;
    }

    .chefs-list__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 1000px) {

    .hero_bg {
        background-size: 200%;
    }

    .hero {
        padding: 40px 0 82px;
    }

    section.about {
        padding: 3.75rem 8rem 5.625rem 8rem;
    }

    .dishes-list {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }
}

@media only screen and (max-width: 870px) {

    section.about {
        padding: 3.75rem 105px 5.625rem;
    }

    button.slider-btn__left,
    button.slider-btn__right {
        position: relative;
        top: 20px;
    }

    button.slider-btn__left {
        left: -15px;
    }

    button.slider-btn__right {
        right: -15px;
    }

    .slider-item__container {
        width: 100%;
        height: 370px;
    }

    .slider-list__item {
        width: 100%;
    }

    .work-list {
        grid-template: repeat(4, 1fr) / repeat(1, 1fr);
    }

    .chef-list__item-content {

        justify-content: center;
    }

}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    section.about {
        padding: 3.75rem 30px 5.625rem;
    }

    .slider-list__item {
        width: 90%;
        height: 370px;
    }



    .contacts-list__item {
        display: block;
        width: fit-content;
        padding: 0px 20px;
    }

    section.hero .contacts {
        display: none;
    }

    .footer-contacts ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .hero_bg {
        background-size: 255%;
    }

    section.work,
    section.chefs,
    section.dishes {
        margin-bottom: 50px;
    }

    .title-container h2 {
        visibility: hidden;
    }

    .header {
        display: block;
        padding-top: 30px;
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .nav-list {
        width: 100%;
    }

    .hero {
        padding: 40px 0 82px;
    }

    .hero-title {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 40px;
    }

    .hero-title~p {
        display: none;
    }

    .hero button {
        width: 50%;
        font-size: 1rem;
        margin: 0;
    }

    section.hero .contacts {
        display: none;
    }

    .footer-contacts ul {
        grid-template: repeat(3, 1fr) / 1fr;
    }

    section.about {
        padding: 1.85rem 16.5px 2.8125rem;
    }

    section.about p {
        margin-bottom: 30px;
    }

    .title-container h1 {
        font-size: 50px;
        position: static;
        margin-bottom: 0;
    }

    .slider-item__container {
        width: 100%;
        height: 175px;
        margin-bottom: 20px;
    }

    .slider-list__item {
        width: 100%;
    }

    .slider button {
        position: static;
    }

    .slider-btn__left {
        margin-right: 30px;
    }

    .dish-img__list {
        display: block;

    }

    .dishes-list {
        grid-template: repeat(6, 1fr) / repeat(1, 1fr);

    }

    .dish-img__list li {
        width: 100%;
        ;
    }

    .dish-img__list li:not(:first-child) {
        display: none;
    }

    .chefs-list__container {
        width: 100%;
    }

    .chef-list__item-content {
        width: 100%;
        justify-content: space-around;
    }
}